<section class="section">
<div class="mt-5">
  <div class="center"><h2 class="primario">Disponible en tus dispositivos favoritos</h2></div>
  <ul class="row primario m-5">
    <li class="col-3">
      <div class="row">
      <img src="./assets/images/pc.png" width="100%" height="auto" alt="Computer device">
      <h4 class="center">Computadoras</h4>
      </div>
    </li>
    <li class="col-3">
      <div class="row">
      <img src="./assets/images/tv.png" width="100%" height="auto" alt="Tv device">
      <h4 class="center">TV</h4>
      </div>
    </li>
    <li class="col-3">
      <div class="row">
      <img src="./assets/images/gamer.png" width="100%" height="auto" alt="Game device">
      <h4 class="center">Consolas</h4>
      </div>
    </li>
    <li class="col-3">
      <div class="row">
      <img src="./assets/images/phone.png" width="100%" height="auto" alt="Phone device">
      <h4 class="center">Celulares y tabletas</h4>
      </div>
    </li>
  </ul>
</div>
</section>
