<footer class="container-fluid">
  <div>
    <h4 class="primario">CINEM<strong>APP </strong><i class="fa-solid fa-star secundario"></i></h4>
  </div>
  <div class="mt-3 ul">
    <a class="advertencia primario m-3" href="https://www.starplus.com/es-419/legal/pol%C3%ADtica-de-privacidad" target="_blank">
      Política de privadicidad
    </a>
    <a class="advertencia primario m-3" href="https://www.starplus.com/es-419/legal/acuerdo-de-suscripci%C3%B3n" target="_blank">
      Acuerdo de suscripción
    </a>
    <a class="advertencia primario m-3" href="https://www.mercadolibre.com.ar/suscripciones" target="_blank">
      Cancelar suscripción
    </a>
    <a class="advertencia primario m-3" href="https://help.starplus.com/starplus_hc" target="_blank">
      Ayuda
    </a>
  </div>

    <p class="advertencia primario mt-2">© 2022 Cinemapp. Todos los derechos reservados.
      <br>
      <br>
      Cinemapp es un servicio por suscripción de pago, su contenido está sujeto a disponibilidad. El servicio es comercializado por Cinemapp (Argentina).
    </p>


</footer>
