<footer>
  <ul class="nav-iconos">
    <li class="iconos-footer">
      <a href="https://twitter.com/AyelenCristi" target="_blank">
      <i class="fab fa-twitter fa-lg relleno-iconos"></i>
      </a>
    </li>

    <li class="iconos-footer">
      <a href="https://discord.com/" target="_blank" class="iconos-redes-footer">
        <i class="fab fa-discord fa-lg relleno-iconos"></i>
      </a>
    </li>

    <li class="iconos-footer">
      <a href="mailto:ayelendcristi@gmail.com" target="_blank" class="iconos-redes-footer">
        <i class="fas fa-envelope fa-lg relleno-iconos"></i>
      </a>
    </li>
  </ul>
  <p class="hecho-con-amor">Contactanos ❤️</p>
</footer>
