<div class="flex align-items-center justify-content-center display-4 align-items-center">
  <a class="btn color-btn" type="" href="#planes">FORMAS DE PAGO</a>
</div>
<section>
  <a name="planes"></a>
<div class="container primario mt-5">
  <div class="row justify-content-center">
    <div class="col-md-3 mb-4 bg-transparent card box-balance m-4 shadow">
      <div class="row card-body">
        <div class="card-header h2"><i class="fa-solid fa-cart-shopping secundario"></i></div>
        <div class="card-title h3 text-center"> TARJETAS</div>
        <div class="card-title h5 text-center">Débito y crédito</div>
        <p class="card-text text-center"> Hasta 3 cuotas sin interés</p>
        <button class="btn btn-dark btn-subscribe" routerLink='/signup'> MAS INFO +</button>
      </div>
    </div>
  <div class="col-md-3 mb-4 bg-transparent card box-balance m-4 shadow">
    <div class="row card-body">
      <div class="card-header h2"><i class="fa-solid fa-cart-shopping secundario"></i></div>
      <div class="card-title h3 text-center"> PROMOS </div>
      <div class="card-title h5 text-center">Billetera Santa Fe</div>
      <p class="card-text text-center"> 30% de reintegro en todas tus compras</p>
      <button class="btn btn-dark btn-subscribe" routerLink='/signup'> MAS INFO +</button>
    </div>
  </div>
  <div class="col-md-3 mb-4 bg-transparent card box-balance m-4 shadow">
    <div class="row card-body">
      <div class="card-header h2"><i class="fa-solid fa-cart-shopping secundario"></i></div>
      <div class="card-title h3 text-center"> EFECTIVO</div>
      <div class="card-title h5 text-center">Abonando en efectivo tenes descuento!</div>
      <p class="card-text text-center"> 20% en todas tus compras</p>
      <button class="btn btn-dark btn-subscribe" routerLink='/signup'> MAS INFO +</button>
    </div>
  </div>
  </div>
  <p class="advertencia">* El precio podría variar en caso de que el pago se realice en otras plataformas. Podrían aplicar cargos de terceros.</p>
</div>
</section>
