<div class="flex align-items-center justify-content-center display-4 align-items-center">
  <a class="btn color-btn" type="" href="#planes">ELEGI TU PLAN</a>
</div>
<section>
  <a name="planes"></a>
<div class="container primario mt-5">
  <div class="row justify-content-center">
    <div class="col-md-3 mb-4 bg-transparent card box-balance m-4 shadow">
      <div class="row card-body">
        <div class="card-header h2"><i class="fa-solid fa-star secundario"></i></div>
        <div class="card-title h3 text-center"> CINEM<strong>APP</strong> +</div>
        <div class="card-title h5 text-center">800/mes (final)</div>
        <p class="card-text text-center"> Estrenos de películas y series. En Cinemapp+ hay más de lo que te
          gusta</p>
        <button class="btn btn-dark btn-subscribe" routerLink='/signup'> SUSCRIBITE AHORA</button>
      </div>
    </div>
  <div class="col-md-3 mb-4 bg-transparent card box-balance m-4 shadow">
    <div class="row card-body">
      <div class="card-header h2"><i class="fa-solid fa-star secundario"></i></div>
      <div class="card-title h3 text-center"> COMBO </div>
      <div class="card-title h5 text-center">999/mes (final)</div>
      <p class="card-text text-center"> Combo Disney+ y Cinemapp+. Disfrutá ahora los dos servicios por un precio único</p>
      <button class="btn btn-dark btn-subscribe" routerLink='/signup'> SUSCRIBITE AHORA</button>
    </div>
  </div>
  <div class="col-md-3 mb-4 bg-transparent card box-balance m-4 shadow">
    <div class="row card-body">
      <div class="card-header h2"><i class="fa-solid fa-star secundario"></i></div>
      <div class="card-title h3 text-center"> COMBO x3</div>
      <div class="card-title h5 text-center">1100/mes (final)</div>
      <p class="card-text text-center"> Combo Disney+, Cinemapp+ y Starzplay. Comprá los tres servicios juntos</p>
      <button class="btn btn-dark btn-subscribe" routerLink='/signup'> SUSCRIBITE AHORA</button>
    </div>
  </div>
  </div>
  <p class="advertencia">* El precio podría variar en caso de que el pago se realice en otras plataformas. Podrían aplicar cargos de terceros.</p>
</div>
</section>
