<app-navbar></app-navbar>
<div class="container bg-transparent m-4 primario">
  <h3>Tabla de usuarios </h3>
  <div class="center">
  <table class="table primario tabla table-responsive ">
    <thead>
    <tr class="table-light">
      <th>NOMBRE</th>
      <th>APELLIDO</th>
      <th>EMAIL</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.email}}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="eliminarUser(user.id)"><i class="fa-solid fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
    </div>
</div>
<app-footer></app-footer>
