<div class="container">
  <div class="row">
    <!--    {{itemsFB?.map((item) =>-->
    <div class="col-md-3 mb-4 bg-transparent card box-balance m-4 shadow">
      <a class="nav-link" routerLink="{`/details/${item.idFB}`}">
        <img class="card-img img-responsive" src="favicon.ico" alt="Imagen Peli"/>
      </a>
      <div class="row card-body">
        <div class="card-title h5"> Batman </div>
        <!--                          {{item.title || item.name}}-->
        <p class="card-text"> Batman la peli</p>
        <!--                          {{item.vote_average}}-->
        <button class="btn btn-dark"> AGREGAR </button>
        <!--                            )}}-->
      </div>
    </div>
  </div>

  <!--    {{itemsFB?.map((item) =>-->
</div>
