@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #090b13;
}

.header {
  background-size: cover;
  min-height: 100vh;
  color: #f9f9f9;
  font-weight: bold;
}

.header .navbar {
  background-color: transparent !important;
}

.navbar {
  background-color: transparent !important;
}

.primario {
  color: #f9f9f9;
  font-weight: bold;
}

.secundario {
  color: #FD4E22
}

.nav-link {
  color: #f9f9f9;
  font-weight: revert;
}

.nav-link:hover {
  transition-duration: 0.1s;
  color: #FD4E22;
}

.box-balance {
  border-radius: 5px;
}

.color-btn {
  color: #157461;
  border: 1px solid transparent;
}

.color-btn:hover {
  transition-duration: 0.1s;

  border: #49d6ba;
  color: #157461;
}

.color-btn:active {
  transition-duration: 0.1s;
  border: #49d6ba;
  color: #157461;
}

.color-btn:focus {
  transition-duration: 0.1s;
  border: #49d6ba;
  color: #157461;

}

.color-a {
  background-color: white;
  color: #49d6ba;
  border: 1px solid transparent;
  border-radius: 10%;
}

.color-a:active {
  transition-duration: 0.1s;
  background-color: #49d6ba;
  border: #49d6ba;
  color: #157461;
}

.color-a:focus {
  transition-duration: 0.1s;
  background-color: #49d6ba;
  border: #49d6ba;
  color: #157461;

}

ul {
  list-style: none;
  font-size: small;
}

.ul {
  list-style: none;
  font-size: small;
  font-weight: 100;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.shadow {
  box-shadow: -16px 13px 24px -9px rgba(150, 149, 149, 0.75);
  -webkit-box-shadow: -16px 13px 24px -9px rgba(150, 149, 149, 0.75);
  -moz-box-shadow: -16px 13px 24px -9px rgba(150, 149, 149, 0.75);
  background-color: white;
}

.bordeColor {
  border: 1px solid #8cbbb1;
}

.bordeColor:hover {
  transition-duration: 0.1s;
  border: 1px solid #5a837a;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #090b13;
  padding: 60px 10px 40px;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.nav-footer-menu {
  display: flex;
  justify-content: flex-end;
  height: 25px;
  align-items: center;
  margin-right: 10px;
}

.nav-iconos {
  display: flex;
  justify-content: center;
}

.iconos-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15%;
  padding: 10%;
  border-radius: 100%;
  color: #5a837a;
  background-color: white;
}

.relleno-iconos {
  color: #5a837a;
}

.hecho-con-amor {
  text-align: center;
  color: #f9f9f9;
  margin-left: 50px;
}


/*#202C33 gris whatsapp*/
/*#44F0CD  verde*/

/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/